<footer>
<p>
  Credit to <a href="https://twitter.com/philhawksworth">Phil Hawksworth's</a> <a href="https://github.com/philhawksworth/eleventyone">11ty starter project</a> for the site theme. Source for this site is on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
</footer>
