<header>
  <ul class="nav">
    <li>
      <a href="/">JJ Lumagbas<small>Front End Developer</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
